Source: ollama
Section: golang
Priority: optional
Maintainer: lingfish <lingfish@users.noreply.github.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://github.com/ollama/ollama
Vcs-Browser: https://github.com/ollama/ollama

Package: ollama
Section: golang
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: libollama-nvidia | libollama-amd
Maintainer: lingfish <lingfish@users.noreply.github.com>
Description: Get up and running with Llama 3.2, Mistral, Gemma 2, and other large language models. (program)
 Ollama
 .
 Discord (https://discord.gg/ollama)
 .
 Get up and running with large language models.
 .
 One of the recommended packages should/will enable GPU support.

Package: libollama-nvidia
Section: libs
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Maintainer: lingfish <lingfish@users.noreply.github.com>
Description: Shared libraries for ollama
 This package contains the shared libraries used by ollama for NVIDIA.

Package: libollama-amd
Section: libs
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Maintainer: lingfish <lingfish@users.noreply.github.com>
Description: Shared libraries for ollama
 This package contains the shared libraries used by ollama for AMD.
