name: Update repository

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'GitHub release tag to download (.deb from). Leave blank for latest'
        required: false
        default: ''
#  workflow_run:
#    workflows: [Build new release v2]
#    types: [completed]
#  release:
#    types: [released]
  workflow_call:
    inputs:
      VERSION_REF:
        required: true
        type: string
      VERSION_NO_V:
        required: true
        type: string
      VERSION_NO_V_DEB:
        required: true
        type: string
    secrets:
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true
      R2_ACCOUNT_ID:
        required: true
      R2_ACCESS_KEY_ID:
        required: true
      R2_SECRET_ACCESS_KEY:
        required: true
      R2_BUCKET:
        required: true

jobs:
  update-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Set version env from inputs
        run: |
          echo "VERSION_REF=${{ inputs.VERSION_REF }}" >> $GITHUB_ENV
          echo "VERSION_NO_V=${{ inputs.VERSION_NO_V }}" >> $GITHUB_ENV
          echo "VERSION_NO_V_DEB=${{ inputs.VERSION_NO_V_DEB }}" >> $GITHUB_ENV
          
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
      
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Install repo for newer reprepro
        uses: gerlero/add-apt-repository@v1
        with:
          uri: https://raw.githubusercontent.com/Aetherinox/proteus-apt-repo/main
          key: https://github.com/Aetherinox.gpg

      - name: Install reprepro
        run: |
          sudo apt-get update
          sudo apt-get install -y reprepro tree
          reprepro --version

      - name: Create dirs if needed
        run: |
          mkdir -p debian-repo/{apt,deb,reprepro/{conf,db}}
          mkdir -p debian-repo/deb/stable

      - name: Download latest release or specified tag
        env:
          GH_TOKEN: ${{ github.token }}
          RELEASE_TAG: ${{ github.event.inputs.release_tag }}
        run: |
          cd debian-repo/deb/stable
          echo "Downloading tag ${RELEASE_TAG:-$VERSION_REF}..."
          gh release download "${RELEASE_TAG:-$VERSION_REF}" --pattern '*.deb'
          cd -
          tree

      - name: Run reprepro
        run: |
          cd debian-repo
          current=`pwd`
          reprepro=$current/reprepro
          echo $current
          echo $reprepro
          cd apt
          reprepro --dbdir $reprepro/db --confdir $reprepro/conf translatelegacyreferences
          for codename in bookworm stable
          do
            reprepro --dbdir $reprepro/db --confdir $reprepro/conf -C main includedeb $codename $current/deb/stable/*deb
            cat dists/$codename/Release | gpg -s --default-key 1C9E802275991A570F4BDBEB91A978214AE92757 -abs > dists/$codename/Release.gpg
          done
          rm -rf $current/deb
          rm -rf $current/apt/pool

      - name: Checkin new stuff
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git add debian-repo/reprepro
          git commit -m "Update ollama to ${RELEASE_TAG:-$VERSION_REF}"
          git push

      - name: Push to R2
        uses: ryand56/r2-upload-action@latest
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ secrets.R2_BUCKET }}
          source-dir: debian-repo
          destination-dir: ./
